version: 2.1

jobs:
  automated-api-tests:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Install the Postman CLI
          command: |
            curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - run:
          name: Login using your API key
          command: postman login --with-api-key $RETAIL_API_KEY
      - run: |
            postman collection run "postman/collections/Basket_a1fcb308-b435-4822-895b-b1e7859d1e5c.json" -e "16341000-6d0574f1-313e-4719-9949-e7bb79ee337f" --integration-id "104076-${CIRCLE_WORKFLOW_JOB_ID}"
      - run:
          name: Lint your API using Postman CLI
          command: postman api lint --integration-id 104076

workflows:
  version: 2
  automated-api-tests:
    jobs:
      - automated-api-tests
